@tailwind base;
@tailwind components;
@tailwind utilities;

body {}

@keyframes moveGradient {
  0% {
    background-position: 50% 50%;
  }

  20% {
    background-position: 20% 20%;
  }

  40% {
    background-position: 20% 60%;
  }

  60% {
    background-position: 80% 90%;
  }

  80% {
    background-position: 90% 20%;
  }

  100% {
    background-position: 50% 50%;
  }
}

.ball {
  background-color: #1A221E;
  /* background: radial-gradient(#45775f, #191919 50%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  animation: moveGradient 30s ease-in-out infinite; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


}